.indicatorDot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 2px;
  display: inline-block;
}

.legendDot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 2px;
  display: inline-block;
}
.indicatorDot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 2px;
  display: inline-block;
}

.legendDot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 2px;
  display: inline-block;
}
